We install all necessary libraries first:

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib.pylab import rcParams
rcParams['figure.figsize']=20,10
from keras.models import Sequential
from keras.layers import LSTM,Dropout,Dense
from sklearn.preprocessing import MinMaxScaler

We load datasource into pandas dataframe:

In [30]:
df = pd.read_csv('./data/apple_stock.csv')

In [33]:
df.head()
df = df.rename(columns=lambda x: x.strip())

            Date Close/Last     Volume       Open       High        Low
0     02/28/2020    $273.36  106721200    $257.26    $278.41    $256.37
1     02/27/2020    $273.52   80151380     $281.1       $286    $272.96
2     02/26/2020    $292.65   49678430    $286.53    $297.88     $286.5
3     02/25/2020    $288.08   57668360    $300.95    $302.53    $286.13
4     02/24/2020    $298.18   55548830    $297.26    $304.18    $289.23
...          ...        ...        ...        ...        ...        ...
2513  03/05/2010   $31.2786  224647427   $30.7057   $31.3857   $30.6614
2514  03/04/2010   $30.1014   89591907   $29.8971   $30.1314   $29.8043
2515  03/03/2010   $29.9043   92846488   $29.8486   $29.9814   $29.7057
2516  03/02/2010   $29.8357  141486282     $29.99   $30.1186   $29.6771
2517  03/01/2010   $29.8557  137312041   $29.3928   $29.9286     $29.35

[2518 rows x 6 columns]

In [34]:
df.keys()

Index(['Date', ' Close/Last', ' Volume', ' Open', ' High', ' Low'], dtype='object')

We use only 2 colums: Date and Close

In [28]:
df = df[["Date","Close"]]
df.head()

KeyError: "['Close'] not in index"

Remove dollar sign '$' from Close values and convert them to numeric

In [ ]:
df = df.replace({'\$':''}, regex = True)

In [ ]:
df = df.astype({"Close": float})
df["Date"] = pd.to_datetime(df.Date, format="%m/%d/%Y")
df.dtypes